<div class="page">
    <div class="main">
        <div class="index_header">
            <h1 class="firstPart">
                <span class="highlight">D</span>ungeon Master</h1>
            <h1 class="secondPart">
                <span class="highlight">O</span>rganizer</h1>
        </div>



        <div class="center">
            <h3>
                Welcome to {{title}}!
            </h3>
            <p> To all adventurers and story tellers, this is for you. Keep track of your Dungeons and Dragons adventures, players,
                encounters and monsters. Run you campaign with the skill and efficenty your players demand. Behold your destiny
                because greatness awaits!</p>

            <a href="/DM">
                <span class="btn_text">To Dungeon Masters!</span>
            </a>

        </div>




    </div>
    <div class="side">
        <div class="color"></div>
        <div class="monst">
        <img  src="/images/mimic.png" alt="Mimic">
        </div>
    </div>
</div>







<footer>
    <small>
        <div>Icons made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </small>
</footer>