<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/CssReset.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Bellefair|Playfair+Display" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
