/* Universal page css */


body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* top level page stuff */
.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/nothic.png') right no-repeat;
  background-size: 800px;
  }
.main{
  
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  
  /* border: 5px solid green; */

}

/* Background image change */
.Dm_main{
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/fighter.png') right no-repeat;
  background-size: 800px;
}

.Dm_mainPage{
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/bard.png') right no-repeat;
  background-size: 800px;
}
.Dm_mainPage.new{
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/bard.png') right no-repeat;
  background-size: 800px;
}
.Dm_mainPage.edit{
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/barb.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.adven {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/cleric.png') right no-repeat;
  background-size: 800px;
}

.Dm_main.adven.new {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/dwarf.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.adven.show {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/human.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.adven.edit {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/teifling.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.player {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/paladin.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.player.new {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/ranger.png') right no-repeat;
  background-size: 800px;
}
.Dm_main.encount{
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/swordcoast.jpg') right no-repeat;
  background-size: 1000px;
}
.Dm_main.encount.show {
  background:linear-gradient(0deg, rgba(229,229,229,0.5), rgba(229,229,229,0.5)), url('/images/MoonIslands.jpg') right no-repeat;
  background-size: 900px;

}


.header{
  width: 100%;
  height: 30vh;
  display: flex;

}
.index_header{
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 30vh;
  /* border: 5px solid gray; */
}
.index_header.show{
  margin-bottom: 0;
  display:flex;
}
.index_header.adven{
  margin-bottom: 0
}




/* content container css */
.center {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid gray; */
}
.side {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  /* border: 5px solid gray; */
  position: relative;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container.adven{
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container.player {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  

}
.itemView{
  margin: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.itemView.show {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container.new{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.card_container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10%;
  width: 80%;
  background-color: #2E294E;
}



/* single content css */
.card {
  height: 30%;
  width: 40%;
  background-color: #AAAE7F;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}
.card.adven{
  height: 25%;
  width: 35%;
  background-color: #B0ADAE;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  border: #262021 5px solid;
}

.card.edit {
  height: 15%;
  width: 30%;
  background-color: #F2EFE9;
  border-radius: 0;
  border: #262021 2px solid;
}
.card.edit.show{
  height: 55%;
  width: 75%;
  flex-direction: column;
  justify-content: space-around;
}
.advenShow{
  height: 85%;
  width: 75%;
  background-color: #B0ADAE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  border: #262021 3px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}

.master {
  height: 50%;
  width: 70%;
  background-color: #C5D86D;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)

}

.master.add{
  background-color: #EDAE49;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.master.add.edit{
  background-color: #7AC74F;
}
.add.adven{
  background-color: #7AC74F;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}
.add.adven.edit {
  background-color: #EDAE49;

}

.dm_info{
  grid-area: 2/7/10/20;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.info{
  width: 75%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player_card{
  height: 60%;
  width: 16.6%;
  background-color: #F2EFE9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33);
  border: #262021 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.player_card.new{
  width: 30%;
  height: 100%;
}

.player_icon{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.photoLvl {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.classRaceAcHp{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.classRace{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.AcHp {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-around;
}




/* Button Css */
.link {
  text-decoration: none;
}

.btn{
  height: 50px;
  width: 250px;
  background-color: #2E294E;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
}

.btn.adventure{
  align-self: center;
  background-color: #1B998B;
}

.btn.back {
  align-self: center;
}

.btn_container{
  display: flex;
  justify-content: space-around;
}
.btn_container.adven{
  height: 5%;
}
.btn_container.head{
  height: 40%;
  margin-left: auto;
  margin-right: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33);
}
.btn.player{
  height: 100px;
  width: 100px;
  align-items: flex-end;
}

.btn.DmEdit{
  background-color: #30638E;
}

.btn.DmDelete{
  background-color: #D1495B;
}

.btn.DmNew{
  background-color: #BBBE64;
}

.btn.AdvenNew {
  background-color: #EDAE49;
}

.btn.AdvenEncounter{
  background-color: #7AC74F;
}
.btn.player.home{
  background-color: rgba(50, 36, 79, .5);
}



/* form submit button css */
.btn.submit{
  border: none;
  color: #E5E5E5;
  font-size: 18px;
  background-color: #D1495B;
  align-self: flex-start;
}
.btn.submitAdven{
  border: none;
  color: #E5E5E5;
  font-size: 18px;
  background-color: #30638E;
}

/* button text Css */
.btn_text{
  font-family: 'Playfair Display', serif;
  color: #E5E5E5;
  font-size: 24px;
  font-weight: 600;
}
.btn_text.player{
  font-size: 16px;
}




/* hover states */
.btn:hover:before {
  transform: scaleX(1);
}
.card:hover{
  background-color: #7AC74F;
}
.card.adven:hover{
  background-color: #BBBE64;
}
.card.edit:hover {
  background-color: #10638E;
}
.card.edit.show:hover{
  background-color: #F2EFE9;
}
.btn.adventure:hover:before{
  background-color: #97D0CA
}
.btn.DmEdit:hover:before, .btn.submitAdven:hover:before{
  background-color: #285275;
}
.btn.DmDelete:hover:before{
  background-color: #AD3831;
}
.btn.DmNew:hover:before {
  background-color: #8E5572;
}
.btn.submit:hover:before{
  background-color: #893168;
}
.btn.AdvenNew:hover:before{
  background-color: #FF521B;
}
.btn.AdvenEncounter:hover:before {
  background-color: #436D2C;
}
.btn.player.add:hover:before {
  background-color: #30638E;;
}
.btn.player.back:hover:before {
  background-color: #436D2C;
}
.btn.submit.new:hover:before {
  background-color: #8E5572
}
.btn.player.home:hover:before{
  background-color: #893168;
}

.btn.player.home.second:hover:before {
  background-color: #EDAE49;
}
.btn.player.home.third:hover:before{
  background-color: #30638E;
}
.btn.player.home.fourth:hover:before {
  background-color: #7AC74F;
}


/* animation stuff */
.btn:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #893168;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: 300ms ease-out;
}
.btn.adventure:before{
  background-color: #97D0CA
}
.btn.DmEdit:before, .btn.submitAdven:before{
  background-color: #A0B8CB
}
.btn.DmDelete:before{
  background-color: #EAACB4;
}
.btn.DmNew:before {
  background-color: #8E5572;
}
.btn.submit:before{
  background-color: #893168;
}
.btn.AdvenNew:before{
  background-color: #FF521B;
}
.btn.AdvenEncounter:before {
  background-color: #436D2C;
}
.btn.player.add:before {
  background-color: #30638E;;
}
.btn.player.back:before {
  background-color: #436D2C;
}
.btn.submit.new:before {
  background-color: #8E5572
}
.btn.player.home:before{
  background-color: #893168;
}
.btn.player.home.second:before {
  background-color: #EDAE49;
}
.btn.player.home.third:before{
  background-color: #30638E;
}
.btn.player.home.fourth:before {
  background-color: #7AC74F;
}



/* img css */
.image {
  height: 100%;
  width: 25%;
}
img{
  height: 100%;
  width: 100%;
}

.image_show {
  grid-area: 2/2/9/6;
  
}

.img.char{
  height: 80%;
  width: 110%;
  border: #262021 2px solid;
}




/* form css */
.dm_form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
label{
  font-size: 16px;
  color: #262021;
  font-weight: 700;
}
input {
  font-size: 16px;
}
.adven_form{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;

}
.form.adven{
  width: 95%;
  display: flex;
  flex-direction: column;
}
.form.player{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formLabel{
  width: 100%;
  display: flex;
  justify-content: space-around;
}


/* Tag peices */

.highlight {
  font-size: 64;
  color: #ED4C43;
}
.secondPart{
  align-self: flex-end;
}
.center h3{
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 700;
}
.center p{
  margin: 10px 50px 50px 100px;
  font-size: 18px;
}

.color{
  background-color: rgba(254, 27, 47,.5);
  height: 100%;
  width: 50%;
  align-self: flex-end;
}
.username{
  margin-bottom: 0;
}
.username  h2 {
  margin-bottom: 0;
  font-family: 'Alegreya', serif;
  font-size: 36px;
  color: #ED4C43;
}
.username.adven h2{
  font-size: 24px;
  font-weight: bold;
  color:#393435;
}
.text {
  color: #ED4C43;
  font-weight: 700;
}
.index_header h1 {
  font-family: 'Bellefair', serif;
  margin: 0px 20px;
  font-size: 52px;
  color: #262021;
  
}
.index_header h2 {
  font-family: 'Alegreya', serif;
  font-size: 48px;
}
.index_header.show h1, .index_header.show h2{
  margin-top: 0;
  margin-bottom: 0;
}
.index_header.show h2{
  margin-left: 400px;
}
.index_header.show.adven h2{
  margin-left: 200px;
}

.subject {
  color: #ED4C43;
  font-size: 52px;
  
}
.label{
  font-size: 18px;
}
.subject.new{
  width: 700px;
}

.descript{
  text-align: center;
  font-size: 24px;
}
.a {
  text-decoration: none;
}
.playerDelete {
  font-size: 20px;
  font-weight: 700;
  color: #D1495B
}

.name.char{
  font-size: 24px;
}

.numberBlock{
  background-color: lightgray;
  border: 1px black solid;
  font-size: 20px;
}

.stat{
  font-size: 20px;
}
.statlabel{
  color: #D1495B;
  font-size: 12px;
}

.playerEdit{
  color: #10638E;
  font-size: 16px;
}
.playerEdit:hover{
  color: #D1495B;
}

.edit.body p{
  font-size: 24px;
  text-align: center;
  margin: 0 10px;
}















/* responsive css,put in another file */

@media only screen
 and (max-device-width: 500px) {
  .index_header {
    margin-top: 50px;
    margin-bottom: 0;
    align-self: center;
    height: 10vh;
    width: 50vw;
  }

    .index_header h1{
      font-size: 48px;
      
    
    }
    footer {
      width: 100vw;
    }
    .side {
      display: none;
    }
    .main{
      width: 100%;
    }
    .center h3, .center p{
      font-size: 3em;
      margin-bottom: 100px;

    }

    .center a {
      height: 200px;
      width: 600px
    }

    .center span{
      font-size: 36px;
    }
  

  }

  @media screen and (max-width: 800px) {
    .index_header {
      margin-top: 50px;
      margin-bottom: 0;
      align-self: center;
      height: 10vh;
      width: 50vw;
    }
  
      .index_header h1{
        font-size: 24px;
        
      
      }
      footer {
        width: 100vw;
      }
      .side {
        display: none;
      }
      .main{
        width: 100%;
      }
      .center h3, .center p{
        font-size: 24px;
      
  
      }
  
      .center a {
        height: 50px;
        width: 200px
      }
  
      .center span{
        font-size: 18px;
      }
    
  
    }

  }
