/* Universal page css */


body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

/* top level page stuff */
.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #E5E5E5;
  

}
.main{
  
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  /* border: 5px solid green; */

}
.index_header{
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 30vh;
  /* border: 5px solid gray; */
}
.index_header.show{
  margin-bottom: 0;
  display:flex;
}
.index_header.adven{
  margin-bottom: 0
}




/* content container css */
.center {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid gray; */
}
.side {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  /* border: 5px solid gray; */
  position: relative;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container.adven{
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.itemView{
  margin: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.itemView.show {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container.new{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.card_container {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10%;
  width: 80%;
  background-color: #2E294E;
}



/* single content css */
.card {
  height: 30%;
  width: 40%;
  background-color: #AAAE7F;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}
.card.adven{
  height: 25%;
  width: 35%;
  background-color: #B0ADAE;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  border: #262021 5px solid;
}
.advenShow{
  height: 75%;
  width: 75%;
  background-color: #B0ADAE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  border: #262021 3px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}

.master {
  height: 50%;
  width: 70%;
  background-color: #C5D86D;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)

}

.master.add{
  background-color: #EDAE49;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.add.adven{
  background-color: #7AC74F;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.33)
}

.dm_info{
  grid-area: 2/7/10/20;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.info{
  width: 75%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





/* Button Css */
.link {
  text-decoration: none;
}

.btn{
  height: 50px;
  width: 250px;
  background-color: #893168;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.adventure{
  align-self: center;
  background-color: #1B998B;
}

.btn.back {
  align-self: center;
}

.btn_container{
  display: flex;
  justify-content: space-around;
}
.btn_container.adven{
  height: 5%;
}

.btn.DmEdit{
  background-color: #30638E;
}

.btn.DmDelete{
  background-color: #D1495B;
}

.btn.DmNew{
  background-color: #BBBE64;
}

.btn.AdvenNew {
  background-color: #EDAE49;
}

.btn.AdvenEncounter{
  background-color: #7AC74F;
}

/* form submit button css */
.btn.submit{
  border: none;
  color: #E5E5E5;
  font-size: 18px;
  background-color: #D1495B;
  align-self: flex-start;
}
.btn.submitAdven{
  border: none;
  color: #E5E5E5;
  font-size: 18px;
  background-color: #30638E;
}

/* button text Css */
.btn_text{
  color: #E5E5E5;
  font-size: 18px
}




/* hover states */
.btn:hover, .card:hover {
  background-color: #2E294E;
}
.card.adven:hover{
  background-color: #BBBE64;
}
.btn.adventure:hover{
  background-color: #97D0CA
}
.btn.DmEdit:hover, .btn.submitAdven:hover{
  background-color: #A0B8CB
}
.btn.DmDelete:hover{
  background-color: #EAACB4;
}
.btn.DmNew:hover {
  background-color: #8E5572;
}
.btn.submit:hover{
  background-color: #893168;
}
.btn.AdvenNew:hover{
  background-color: #FF521B;
}
.btn.AdvenEncounter:hover {
  background-color: #436D2C;
}



/* img css */
.image {
  height: 100%;
  width: 25%;
}
img{
  height: 100%;
  width: 100%;
}
.monst{
  padding-right: 20%;
  padding-bottom: 20%;
  height: 40%;
  width: 60%;
  z-index: 1;
  align-self: center;
}

.monst img{
  height: 100%;
  width: 100%;
}

.image_show {
  grid-area: 2/2/9/6;
  
}




/* form css */
.dm_form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
label{
  font-size: 16px;
  color: #262021;
  font-weight: 700;
}
input {
  font-size: 16px;
}
.adven_form{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;

}
.form.adven{
  width: 95%;
  display: flex;
  flex-direction: column;
}


/* Tag peices */

.highlight {
  font-size: 64;
  color: #ED4C43;
}
.secondPart{
  align-self: flex-end;
}
.center h3{
  font-size: 24px;
  font-weight: 700;
}
.center p{
  margin: 10px 50px 50px 100px;
  font-size: 18px;
}
.color, .monst {
  position: absolute;
}
.color{
  background-color: #ED4C43;
  height: 100%;
  width: 50%;
  align-self: flex-end;
}
.username{
  margin-bottom: 0;
}
.username  h2 {
  margin-bottom: 0;
  font-size: 36px;
  color: #ED4C43;
}
.username.adven h2{
  font-size: 24px;
  font-weight: bold;
  color:#393435;
}
.text {
  color: #ED4C43;
  font-weight: 700;
}
.index_header h1 {
  margin: 0px 20px;
  font-size: 48px;
  color: #262021;
  
}
.index_header.show h1, .index_header.show h2{
  margin-top: 0;
  margin-bottom: 0;
}
.index_header.show h2{
  margin-left: 400px;
}
.index_header.show.adven h2{
  margin-left: 200px;
}

.subject {
  color: #ED4C43;
  font-size: 52px;
  
}
.label{
  font-size: 18px;
}
.subject.new{
  width: 700px;
}

.descript{
  text-align: center;
  font-size: 24px;
}











/* responsive css,put in another file */

@media only screen
 and (max-device-width: 500px) {
  .index_header {
    margin-top: 50px;
    margin-bottom: 0;
    align-self: center;
    height: 10vh;
    width: 50vw;
  }

    .index_header h1{
      font-size: 48px;
      
    
    }
    footer {
      width: 100vw;
    }
    .side {
      display: none;
    }
    .main{
      width: 100%;
    }
    .center h3, .center p{
      font-size: 3em;
      margin-bottom: 100px;

    }

    .center a {
      height: 200px;
      width: 600px
    }

    .center span{
      font-size: 36px;
    }
  

  }

  @media screen and (max-width: 800px) {
    .index_header {
      margin-top: 50px;
      margin-bottom: 0;
      align-self: center;
      height: 10vh;
      width: 50vw;
    }
  
      .index_header h1{
        font-size: 24px;
        
      
      }
      footer {
        width: 100vw;
      }
      .side {
        display: none;
      }
      .main{
        width: 100%;
      }
      .center h3, .center p{
        font-size: 24px;
      
  
      }
  
      .center a {
        height: 50px;
        width: 200px
      }
  
      .center span{
        font-size: 18px;
      }
    
  
    }

  }
