<div class="Dm_main adven new">
    <div class="header">
        <div class="index_header show adven">
            <h1>{{title}}</h1>
        </div>
        <div class="btn_container head">
            <a href="/" class="btn player home">
                <span class="btn_text player">Home</span>
            </a>
            <a href="/Dm/{{DmId}}" class="btn player home second">
                <span class="btn_text player">Back to Dugneon Master</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures" class="btn player home third">
                <span class="btn_text player">Back to Adventures</span>
            </a>

        </div>

    </div>
    <div class="container adven">



        <div class="card_container">


            <form class="adven_form" action="/Dm/{{DmId}}/adventures" method="POST" id="form1">
                <div class="add adven">
                    <div class="form adven">
                        <label for="name">Name:</label>
                        <input type="text" class="input" name="name">
                    </div>
                    <div class="form adven">
                        <label for="description">Description:</label>
                        <input type="text" class="input" name="description">
                    </div>

                    <input type="submit" class="btn submitAdven" value="Create Adventure">
                </div>
            </form>

        </div>
    </div>


</div>